extends layout

block content
  
  h1= title
  p Welcome to #{title}

  a(href="/#bottom") 
    span(class="bottom")  Go to bottom

  each val in messages
      .message-card
        h3= val.user
        p #{val.text}
        span(class="date") Added: 
          date(class="date") #{val.added}

  br
  a(href="/new") 
    div(class="button" id="bottom")  Write a message
